.bg-magenta {
    background: #BF0081;
}

.bg-blue {
    background: #73B5FF;
}

.bg-orange {
    background: #bd8205;
}

.bg-green {
    background: #348f07;
}

.bg-teal {
    background: #068666;
}

.bg-purple {
    background: #6b0892;
}
